# /etc/security/limits.conf
#
#Each line describes a limit for a user in the form:
#
#<domain>        <type>  <item>  <value>
#
#Where:
#<domain> can be:
#        - a user name
#        - a group name, with @group syntax
#        - the wildcard *, for default entry
#        - the wildcard %, can be also used with %group syntax,
#                 for maxlogin limit
#
#<type> can have the two values:
#        - "soft" for enforcing the soft limits
#        - "hard" for enforcing hard limits
#
#<item> can be one of the following:
#        - core - limits the core file size (KB)
#        - data - max data size (KB)
#        - fsize - maximum filesize (KB)
#        - memlock - max locked-in-memory address space (KB)
#        - nofile - max number of open file descriptors
#        - rss - max resident set size (KB)
#        - stack - max stack size (KB)
#        - cpu - max CPU time (MIN)
#        - nproc - max number of processes
#        - as - address space limit (KB)
#        - maxlogins - max number of logins for this user
#        - maxsyslogins - max number of logins on the system
#        - priority - the priority to run user process with
#        - locks - max number of file locks the user can hold
#        - sigpending - max number of pending signals
#        - msgqueue - max memory used by POSIX message queues (bytes)
#        - nice - max nice priority allowed to raise to values: [-20, 19]
#        - rtprio - max realtime priority
#
#<domain>      <type>  <item>         <value>
#

#*               soft    core            0
#*               hard    rss             10000
#@student        hard    nproc           20
#@faculty        soft    nproc           20
#@faculty        hard    nproc           50
#ftp             hard    nproc           0
#@student        -       maxlogins       4
#
# the following settings are made by chef for Hadoop
# Any manual changes made will be overwritten.
#
root soft nofile 32768
root hard nofile 32768
* soft memlock unlimited
* hard memlock unlimited
root soft memlock unlimited
root hard memlock unlimited
* soft as unlimited
* hard as unlimited
root soft as unlimited
root hard as unlimited
cassandra        soft    nofile        1000000
cassandra        hard    nofile        1000000
cassandra        soft    memlock       unlimited
cassandra        hard    memlock       unlimited
cassandra        soft    fsize         unlimited
cassandra        hard    fsize         unlimited
cassandra        soft    data          unlimited
cassandra        hard    data          unlimited
cassandra        soft    rss           unlimited
cassandra        hard    rss           unlimited
cassandra        soft    stack         unlimited
cassandra        hard    stack         unlimited
cassandra        soft    cpu           unlimited
cassandra        hard    cpu           unlimited
cassandra        soft    nproc         unlimited
cassandra        hard    nproc         unlimited
cassandra        soft    as            unlimited
cassandra        hard    as            unlimited
cassandra        soft    locks         unlimited
cassandra        hard    locks         unlimited
cassandra        soft    sigpending    unlimited
cassandra        hard    sigpending    unlimited
cassandra        soft    msgqueue      unlimited
cassandra        hard    msgqueue      unlimited
