table 1 <%= node['vlan'][0]['network'] %> dev bond0.<%= node['vlan'][0]['vlanid'] %>  proto kernel  scope link  src <%= @ipaddr -%>
table 1 default via <%= node['vlan'][0]['gateway'] %> dev bond0.<%= node['vlan'][0]['vlanid'] %>
<% node['vlan'][0]['add_route'].each do | arr | %>
<%= arr['to_network'] %> via <%= node['vlan'][0]['gateway'] %>
<% end unless node['vlan'][0]['add_route'].nil? %>
